/* Fredoka Font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color:  rgb(255, 255, 255);
    font-family: Fredoka, sans-serif;
    padding: 20px;
    margin-left: 250px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

h1, h2, h3, 
h4 ,h5 ,h6{
    font-weight: 400;  
}

/* sidebar */

.sidebar {
    width: 250px;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    transition: width 0.3s;
    border-right: 2px solid black;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5D5E9E;
}

.sidebar h2 {
    margin: 0;
    font-size: 30px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    padding: 15px 20px;
}

.nav-list li a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.nav-list li:hover {
    background-color: rgb(248,222,138);
}

.title{
    border-bottom: 2px solid black;
}

/* attendance table */

table {
    width: 100%;
    border-collapse: collapse;
    top: 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #5D5E9E;
    color: white;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
}

.present {
    color: green;
}

.absent {
    color: red;
}

.time {
    font-size: 0.8em;
    color: #666;
}

/* date */

.date-nav {
    text-align: center;
    margin-top: 4rem;
}

.date-nav button {
    background-color: rgb(252,100,77);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

.date-nav button:hover {
    background-color: rgb(255, 159, 147);
}

#current-date {
    font-size: 1.2em;
}
