/* outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: Outfit, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1917;
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

header {
    text-align: center;
    padding: 1rem 0;
}

header h1{
    font-size: 4rem;
}

#classes-section h1{
    font-size: 2rem;
    text-align: center;
}

#classes-section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.class-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.class-card {
    background-color: #57534F;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
}

.class-card h3 {
    text-align: center;
    margin-bottom: 15px;
}

.students {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.student {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: black;
}

.present {
    background-color: #aeecb0;
}

.absent {
    background-color: #ee9993;
}

.confirm-button {
    background-color: #172083a3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

.confirm-button:hover {
    background-color: #200667;
}

.date-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#prev-date, #next-date {
    background-color: #8f72c2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#prev-date:hover, #next-date:hover {
    background-color: #6730b4;
}

#current-date {
    font-size: 1.2rem;
    margin: 0 20px;
}

